<li class="post">
	<% if current_user && current_user.mod == 1 || current_user == post.user %>
			<div class="btn-group dropup">
			<button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="glyphicon glyphicon-cog"></span> <span class="caret"></span>
			</button>
			<ul class="dropdown-menu list-inline">
				<% if current_user == post.user %>
		  		<li><%= link_to "Edit", "/forum/#{post.id}/edit", class: "btn btn-primary" %></li>
		  	<% end %>
	  		<% if current_user && current_user.mod == 1 %>
			  	<li><%= link_to "Sticky", sticky_comment_path(post.id,1), method: :patch, class: "btn btn-success" %></li>
			  	<li><%= link_to "Unsticky", sticky_comment_path(post.id,0), method: :patch, class: "btn btn-warning" %></li>
			  	<li><%= link_to "Move", move_path(post.id), class: "btn btn-success" %></li>
			  	<li><%= link_to "Close", close_comment_path(post.id,1), method: :patch, class: "btn btn-warning" %></li>
			  	<li><%= link_to "Open", close_comment_path(post.id,0), method: :patch, class: "btn btn-success" %></li>
			  <% end %>
			  <li><%= link_to "Delete", post_path(@subject.name,post.id), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %></li>
			</ul>
		</div>
	<% else %>
		<div class="filler-block dropup">
			<button class="btn btn-xs">
				
			</button>
		</div>
	<% end %>
	<a class="post-link" href="<%="#{@subject.name}/#{post.id}"%>">
		<div class="container-fluid">	
			<div class="row test">
				<div class="col-md-4 col-sm-3 col-xs-3 test-left">
					<div class="test-wrapper">
						<div class="icons">

							<% if current_user && (post.find_viewing(current_user.id).nil? || post.find_viewing(current_user.id) < post.recent_activity_time)  %>
								<span class="glyphicon glyphicon-eye-open"> </span>
							<% end %>
					  	<% if post.sticky == 1 %>
					  		<span class="glyphicon glyphicon-pushpin"> </span>
					  	<% end %>
					  	<% if post.closed == 1 %>
					  		<span class="glyphicon glyphicon-lock"> </span>
					  	<% end %>
					  </div>
						<p><%= post.title %></p>
					</div>
				</div>
				<div class="col-md-5 col-sm-6 col-xs-6 test-mid">
					<div class="test-wrapper">
						<div class="row">
							<div class="col-xs-4 test-wrapper"><p><%= post.user.name %></p></div>
							<div class="col-xs-4 test-wrapper"><p>Posted: <%= post.created_at.strftime("%-m/%-e/%-y") %></p></div>
							<div class="col-xs-4 test-wrapper"><p>Recent: <%= post.recent_activity_time.strftime("%-m/%-e/%-y") %></p></div>
						</div>
					</div>
				</div>
				<div class="col-sm-2 col-xs-2 test-right">
					<div class="test-wrapper">	
						<p>Comments: <%= post.comments.count %></p>
					</div>
				</div>
			</div>
		</div>
	</a>
</li>