<% provide(:title, "Forum") %>
<% if @subject.class == Subject::ActiveRecord_Relation %>	
	<% @subject.each do |s| %>
		<div class="info forum">
			<h1><%=s.name%></h1>
			<br>
			<% @forums.each do |post| %>
				<ul class="posts">
					<% if post.subject == s %>
						<%= render partial: 'forums/post_item', locals: {post: post, subject: @subject} %> 
					<% end %>
				</ul>
			<% end %>
			<%= link_to "Start a Thread", "#{s.name}/new", class: "btn btn-success"  %>
		</div>
	<% end %>
<% else %>
	<div class="info forum">
		<h1><%=@subject.name%></h1>
		<br>

		<div class="paginate">
			<%=will_paginate%>
		</div>

		<% @forums.each do |post| %>
			<ul class="posts">
				<%= render partial: 'forums/post_item', locals: {post: post, subject: @subject} %>
			</ul>
		<% end %>

		<%= link_to "Start a Thread", "#{@subject.name}/new", class: "btn btn-success"  %>
		<%= link_to "All Subjects", "/forum/all", class: "btn btn-primary" %>
		<%= link_to "Back", forum_path, class: "btn btn-info" %>
	</div>

	<div class="paginate paginate-bottom">
		<%=will_paginate%>
	</div>

<% end %>