<% if @subject.class == Subject::ActiveRecord_Relation %>	
	<% @subject.each do |s| %>
		<div class="info forum">
			<h1><%=s.name%></h1>
			<br>
			<% @post.each do |post| %>
				<ul class="posts">
					<% if post.subject == s %>
						<div class="tool-buttons">
							<% if current_user.mod == 1 || current_user == post.user %>
								<% if current_user == post.user %>
						  		<%= link_to "Edit", "/forum/#{post.id}/edit", class: "btn btn-primary" %>
						  	<% end %>
							  <%= link_to "Delete", post_path(s.name,post.id), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
					  	<% end %>
					  </div>
						<a class="post-link" href="<%="#{s.name}/#{post.id}"%>">
							<li class="post">
								<div class="row">
									<div class="row-height">
										<div class="col-md-6 col-height user-info">
											<div class="inside">
												<div class="content">
												  <p>
												  	<%=post.title%>
												  </p>
												</div>
											</div>
										</div>
										<div class="col-md-3 col-height">
											<div class="inside">
												<div class="content">
												<p><%= post.user.name %></p>
												<p>Posted: <%= post.created_at.strftime("%-m/%-e/%-y") %></p>
												<% recent = post %>
												<% post.comments.each do |c| %>
													<% recent = c if c.updated_at > recent.updated_at %>
												<% end %>
												<p>Last Post: <%= recent.updated_at.strftime("%-m/%-e/%-y") %></p>
												</div>
											</div>
										</div>
										<div class="col-md-3 col-height">
											<div class="inside">
												<div class="content">
												<p>Comments: <%= post.comments.count %></p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
						</a>
					<% end %>
				</ul>
			<% end %>
			<%= link_to "Start a Thread", "#{s.name}/new", class: "btn btn-success"  %>
		</div>
	<% end %>
<% else %>
	<div class="info forum">
		<h1><%=@subject.name%></h1>
		<br>
		<% @post.each do |post| %>
			<ul class="posts">
				<div class="tool-buttons">
					<% if current_user.mod == 1 || current_user == post.user %>
						<% if current_user == post.user %>
				  		<%= link_to "Edit", "/forum/#{post.id}/edit", class: "btn btn-primary" %>
				  	<% end %>
					  <%= link_to "Delete", post_path(s.name,post.id), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
			  	<% end %>
			  </div>
				<a class="post-link" href="<%="#{@subject.name}/#{post.id}"%>">
					<li class="post">
						<div class="row">
							<div class="row-height">
								<div class="col-md-6 col-height user-info">
									<div class="inside">
										<div class="content">
										  <p><%=post.title%></p>
										</div>
									</div>
								</div>
								<div class="col-md-3 col-height">
									<div class="inside">
										<div class="content">
										<p><%= post.user.name %></p>
										<p>Posted: <%= post.created_at.strftime("%-m/%-e/%-y") %></p>
										<% recent = post %>
										<% post.comments.each do |c| %>
											<% recent = c if c.updated_at > recent.updated_at %>
										<% end %>
										<p>Last Post: <%= recent.updated_at.strftime("%-m/%-e/%-y") %></p>
										</div>
									</div>
								</div>
								<div class="col-md-3 col-height">
									<div class="inside">
										<div class="content">
										<p>Comments: <%= post.comments.count %></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>
				</a>
			</ul>
		<% end %>
		<%= link_to "Start a Thread", "#{@subject.name}/new", class: "btn btn-success"  %>
		<%= link_to "All Subjects", "/forum/all", class: "btn btn-primary" %>
	</div>
<% end %>