<div class="info new-user">
	<h1>Profile</h1>
	<br>

		<div class="row">
		  <aside class="col-md-4">
		    <section class="user_info">
		      <h1 class="title">
		        <%= logo_for @user %>
		        <%= @user.name %>
			       <% if current_user && current_user.mod == 1 && current_user != @user %>
					    | <%= link_to "ban", user_path(@user), method: :patch,
					                                  data: { confirm: "You sure?" } %>
					  <% end %>
		      </h1>

		      <div class="user-stats">
			      <%if @user.public_profile%> <p>email: <%= @user.email %></p> <%end%>
			      <p># of posts: <%= @user.posts.count %></p>
			      <p># of comments: <%= @user.comments.count %></p>
			      <p>status: <%= @status %></p>
			    </div>
		    </section>
		  </aside>
		</div>
    
</div>