<% provide(:title, "Edit Post") %>
<div class="info new-post">
	<p></p>
	<h1>Edit Thread</h1>
	<br>
	<div class="container-fluid">
    <div class="col-md-6 col-md-offset-3">
			<%= form_for @post, url: edit_post_path do |f| %>
				<%= render 'shared/error_messages_posts' %>

			  <%= f.label :title %>
			  <%= f.text_field :title, class: 'form-control' %>

			  <%= f.label :body %>
			  <%= f.text_area :body, class: 'form-control' %>

			  <%= f.submit "Update", class: "btn btn-success" %>
			  <%= link_to "Back", "/forum/all", class: "btn btn-primary" %>
			<% end %>
		</div>
	</div>
</div>