<div class="info view-post container-fluid">
	<div class="row">
		<div class="row-height">
			<div class="col-md-4 col-height user-info">
				<div class="inside">
					<div class="content">
						<p><%= @post.user.name %></p>
						<p></p>
						<p>Joined: <%=@post.user.created_at.strftime("%-m/%-d/%-y")%></p>
					</div>
				</div>
			</div>
			<div class="col-md-8 col-height">
				<div class="inside">
					<div class="content">
						<h1><%= @post.title %></h1>
						<p><%= @post.body %></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<%= link_to "Comment", new_comment_path, class: "btn btn-success" %>

<% @post.comments.each do |c| %>
	<div class="info comment">
		<h1></h1>
		<div class="row">
			<div class="row-height">
				<div class="col-md-4 col-height user-info">
					<div class="inside">
						<div class="content">
							<p><%= c.user.name %></p>
							<p></p>
							<p>Posted: <%=c.created_at.strftime("%-m/%-e/%-y, %l:%M %p")%></p>
							<p><p>
							<p>Joined: <%=c.user.created_at.strftime("%-m/%-e/%-y")%></p>
						</div>
					</div>
				</div>
				<div class="col-md-8 col-height">
					<div class="inside">
						<div class="content">
							<p><%= c.body %></p>
						</div>
					</div>
				</div>
			</div>
		</div>
</div>
<% end %>