<!DOCTYPE html>
<html>
  <head>
    <title>Vezzelution</title>
    <link rel="shortcut icon" href="https://secure.gravatar.com/avatar/6b9e4f43574cff086e212730b29e9ec9?s=50" />
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>

  <body>
  	<div class="container">
      <%= render 'layouts/flash' %>
  		<%= render 'layouts/header' %> 
    	<%= yield %>
    	<%= render 'layouts/footer' %>
  	</div>
  </body>
</html>
